<!-- .accordion -->
<ul class="accordion nav flex-column" id="sidebarAccordion">
  <li class="nav-item" id="pm_intro">
    <a href="{{ root }}/hackedSelf/chess_overview.html" class="nav-link">
      1. Overview <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item" id="pm_intro">
    <a href="{{ root }}/flashcards/chess.html" class="nav-link">
      2. Flashcards <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item" id="pm_intro">
    <a href="{{ root }}/hackedSelf/chess_overview.html" class="nav-link">
      3. TK <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item" id="pm_intro">
    <a href="{{ root }}/hackedSelf/chess_overview.html" class="nav-link">
      4. TK <span class="sr-only">(current)</span>
    </a>
  </li>
</ul>
<!-- /.accordion -->