<!-- .accordion -->
<ul class="accordion nav flex-column" id="sidebarAccordion">
  <li class="nav-item" id="intro">
    <a href="#coding101-0" class="nav-link">
      0. Intro <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item" id="quickStart">
    <a href="#coding101-1-class" class="nav-link has-children collapsed" data-toggle="collapse"
      data-target="#collapseQuickStart" aria-expanded="false" aria-controls="collapseQuickStart">
      1. Coding Quick Start
    </a>
    <ul id="collapseQuickStart" class="collapse" aria-labelledby="quickStart">
      <li><a href="classes-1.html">1.0 Introduction</a></li>
      <li><a href="classes-1.html#code101-L1-1-class">1.1 Google Insepctor Tool</a></li>
      <li><a href="classes-1.html#code101-L1-2-class">1.2 User Input/Output; alert(), prompt () </a></li>
      <li><a href="classes-1.html#code101-L1-3-class">1.3 Storing Data in Variables</a></li>
      <li><a href="classes-1.html#code101-L1-4-class">1.4 Strings vs Numbers; ParseInt()</a></li>
      <li><a href="classes-1.html#code101-L1-5-class">1.5 If then else statements</a></li>
      <li><a href="classes-1.html#code101-L1-6-class">1.6 Comments</a></li>
      <li><a href="classes-1.html#code101-L1-7-class">1.7 Random number generators</a></li>
      <li><a href="classes-1.html#code101-L1-8-class">1.8 MS Visual Studio Code</a></li>
      <li><a href="classes-1.html#code101-L1-9-class">1.9 Running JS files locally </a></li>
    </ul>
  </li>
  <li class="nav-item" id="programmingOverview">
    <a class="nav-link has-children collapsed" data-toggle="collapse"
      data-target="#collapseProgrammingOverview" aria-controls="collapseProgrammingOverview">
      2. Programming with Javascript <span class="sr-only">(current)</span>
    </a>
    <ul id="collapseProgrammingOverview" class="collapse" aria-labelledby="programmingOverview">
      <li><a href="classes-2.html#code101-L2-0-class">2.0 Introduction </a></li>
      <li><a href="classes-2.html#code101-L2-1-class">2.1 Basics</a></li>
      <li><a href="classes-2.html#code101-L2-2-class">2.2 Expressions and Operators</a></li>
      <li><a href="classes-2.html#code101-L2-3-class">2.3 If Then For Loops</a></li>
      <li><a href="classes-2.html#code101-L2-4-class">2.4 Data Types</a></li>
      <li><a href="classes-2.html#code101-L2-5-class">2.5 Functions</a></li>
      <li><a href="classes-2.html#code101-L2-6-class">2.6 Object Oriented Programming</a></li>
    </ul>
  </li>
  <li class="nav-item" id="yourFirstWebsite">
    <a class="nav-link has-children collapsed" data-toggle="collapse"
      data-target="#collapseYourFirstWebsite" aria-controls="collapseYourFirstWebsite">
      3. Your First Website (HTML/CSS) <span class="sr-only">(current)</span>
    </a>
    <ul id="collapseYourFirstWebsite" class="collapse" aria-labelledby="YourFirstWebsite">
      <li><a href="classes-3.html#code101-L3-0-class">3.0 Introduction </a></li>
      <li><a href="classes-3.html#code101-L3-1-class">3.1 HTML and CSS Overview </a></li>
      <li><a href="classes-3.html#code101-L3-2-class">3.2 HTML tags and structure</a></li>
      <li><a href="classes-3.html#code101-L3-3-class">3.3 CSS intro and Properies</a></li>
      <li><a href="classes-3.html#code101-L3-4-class">3.4 Boxes and Layouts</a></li>
      <li><a href="classes-3.html#code101-L3-5-class">3.5 Mobile First Design; Dynamic Format</a></li>
    </ul>
  </li>
  <li class="nav-item" id="JQueryClass">
    <a class="nav-link has-children collapsed" data-toggle="collapse"
      data-target="#collapseJQueryClass" aria-controls="collapseJQueryClass">
      4. JQuery and Buttons <span class="sr-only">(current)</span>
    </a>
    <ul id="collapseJQueryClass" class="collapse" aria-labelledby="JQueryClass">
      <li><a href="classes-4.html#code101-L4-0-class">4.0 Introduction </a></li>
      <li><a href="classes-4.html#code101-L4-1-class">4.1 JQuery Selectors & Methods </a></li>
      <li><a href="classes-4.html#code101-L4-2-class">4.2 JQuery Projects</a></li>
    </ul>
  </li>
</ul>
<!-- /.accordion -->