<!-- .accordion -->
<ul class="accordion nav flex-column" id="sidebarAccordion">
  <li class="nav-item">
    <a href="/events/life_events.html" class="nav-link">
      1. Events <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="/events/friends_list.html" class="nav-link">
      2. Friends <span class="sr-only">(current)</span>
    </a>
    <li class="nav-item">
      <a href="/events/contact_list.html" class="nav-link">
        3. Contact list <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/events/groups_list.html" class="nav-link">
        4. Group list <span class="sr-only">(current)</span>
      </a>
    </li>
  </li>
  <li class="nav-item">
    <a href="/events/group.html" class="nav-link">
      5. Group <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="/events/profiles.html" class="nav-link">
      6. My Profile <span class="sr-only">(current)</span>
    </a>
  </li>
</ul>
<!-- /.accordion -->