<!-- .accordion -->
<ul class="accordion nav flex-column" id="sidebarAccordion">
  <li class="nav-item">
    <a href="/events/life_events.html" class="nav-link">
      1. Events <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="/events/groups_list.html" class="nav-link">
      2. Group list <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="/events/contact_library.html" class="nav-link">
      3. Contact Library <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
  <a href="/events/profiles.html" class="nav-link">
      4. My Profile <span class="sr-only">(current)</span>
    </a>
  </li>
</ul>
<!-- /.accordion -->