<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <p class="h2">Uprise University</p>
        <p>
          We are an online educational platform that helps professionals and aspiring individuals to succeed in their goals.
        </p>
      </div>
      <div class="col-md-6 col-lg-4">
        <h4 class="h5">Featured links</h4>
        <ul class="list-unstyled">
          <li><a href="{{ root }}">Home</a></li>
          <li><a href="{{ root }}/contact">Contact Us</a></li>
          <li><a href="{{ root }}/courses">Courses</a></li>
          <li><a href="{{ root }}/terms-conditions">Terms &amp; Conditions</a></li>
          <li><a href="{{ root }}/about">About Us</a></li>
          <li><a href="{{ root }}/cookie-policy">Cookie Policy</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-4">
        <h4 class="h5">Connect with us</h4>
        <ul class="list-unstyled">
        </ul>
      </div>
      <div class="col-sm-12 text-center mt-3">
        <p>Copyright &copy;2020</p>
      </div>
    </div>
  </div>
</footer>