<!-- .megamenu -->
<div class="megamenu">
<ul class="megamenu__list">
    <li class="nav-item">
    <a href="#" class="nav-link megamenu__toggle">Coding 101 </a>
    </li>
</ul>

<div class="megamenu__menu">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-4 megamenu__menu-col">
        <h4>Coding</h4>
        <ul class="nav flex-column ">
            <li class="nav-item"><a href="/Coding101/classes.html" class="nav-link">Coding 101: Front End Web (HTML/CSS/JS)</a></li>
            <li class="nav-item"><a href="/Coding102/classes.html" class="nav-link">Coding 102: Back End Web (Python)</a></li>
            <li class="nav-item"><a href="/Coding103/classes.html" class="nav-link">Coding 103: Databases (SQL)</a></li>
            <li class="nav-item"><a href="/Coding104/classes.html" class="nav-link">Coding 104: Full Stack (Flask-SQLAclhemy)</a></li>
            <li class="nav-item"><a href="/Coding105/classes.html" class="nav-link">Coding 105: Deployment & Tools </a></li>
            <li class="nav-item active"><a href="/Coding106/classes.html" class="nav-link">Coding 106: Interview Algorithms </a></li>
        </ul>
        </div>
        <div class="col-md-6 col-lg-4 megamenu__menu-col">
        <h4>Life 101</h4>
        <ul class="nav flex-column">
            <li class="nav-item"><a href="/Life101/1GettingThingsDone.html" class="nav-link">1. Getting Things Done</a></li>
            <li class="nav-item"><a href="/Life101/2Willpower.html" class="nav-link">2. Willpower </a></li>
            <li class="nav-item"><a href="/Life101/3HowToRead.html" class="nav-link">3. How To Read a Book</a></li>
        </ul>
        </div>
    </div>
    </div>
</div>
</div>
<!-- /.megamenu -->