<!-- .nav-tabs -->
<div class="nav-tabs-wrapper">
    <ul class="nav nav-tabs nav-fill" id="mainTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link  {{#if classesTab }}active{{/if }}" id="classes-tab" href="classes.html" role="tab">Classes</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link {{#if slidesTab }}active{{/if }}" id="slides-tab" href="slides.html" role="tab">Slides</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link  {{#if projectsTab }}active{{/if }}" id="projects-tab" href="projects.html" role="tab">Projects</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link  {{#if answersTab }}active{{/if }}" id="answers-tab" href="answers-1.html" role="tab">Answers</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link  {{#if cheatSheetsTab }}active{{/if }}" id="cheat-sheets-tab" href="cheat-sheets.html" role="tab">Cheat Sheets</a>
        </li>
    </ul>
</div>
<!-- /.nav-tabs -->