<!-- .accordion -->
<ul class="accordion nav flex-column" id="sidebarAccordion">
  <li class="nav-item" id="pm_intro">
    <a href="introduction.html" class="nav-link">
      0. Intro <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item" id="pm_intro">
    <a href="pm_overview.html" class="nav-link">
      1. PM Overview and FAQ <span class="sr-only">(current)</span>
    </a>
  </li>
  
  <li class="nav-item" id="PMInterview"> <a href="PMReadingList.html" class="nav-link has-children collapsed" data-toggle="collapse" data-target="#collapsePMInterview" aria-expanded="false" aria-controls="collapsePMInterview"> 2. Interview Overview </a>
    <ul id="collapsePMInterview" class="collapse" aria-labelledby="PMInterview">
      <li><a href="overview_design.html">2.1 Product Design and Insight </a></li>
      <li><a href="overview_execution.html">2.2 Product Execution / Analytics</a></li>
      <li><a href="overview_amzn.html">2.3 Behavioral - Amazon </a></li>
      <li><a href="overview_behavioral.html">2.4 Behavioral - Other</a></li>
    </ul>
  </li>
  <li class="nav-item" id="DesignMocks">
    <a href="design_malls.html" class="nav-link has-children collapsed" data-toggle="collapse"
      data-target="#collapseDesignMocks" aria-expanded="false" aria-controls="collapseDesignMocks">
      3. Product Design Mocks
    </a>
    <ul id="collapseDesignMocks" class="collapse" aria-labelledby="DesignMocks">
      <li><a href="design_malls.html">3.1 Malls</a></li>
      <li><a href="design_gardening.html">3.2 Gardening</a></li>
      <li><a href="design_olympics.html">3.3 Olympics</a></li>
      <li><a href="design_parking.html">3.4 Parking Lot App</a></li>
      <li><a href="design_venmo.html">3.5 Venmo for kids</a></li>
      <li><a href="design_doctor.html">3.6 Doctor Recommender</a></li>
    </ul>
  </li>
  <li class="nav-item" id="ExecutionMocks">
    <a href="execution_reels.html" class="nav-link has-children collapsed" data-toggle="collapse"
      data-target="#collapseExecutionMocks" aria-controls="collapseExecutionMocks">
      4. Execution Mocks<span class="sr-only">(current)</span>
    </a>
    <ul id="collapseExecutionMocks" class="collapse" aria-labelledby="ExecutionMocks">
      <li><a href="execution_reels.html">4.1 Ads for Reels</a></li>
      <li><a href="execution_groups.html">4.2 Groups</a></li>
      <li><a href="execution_livestream.html">4.3 Livestream</a></li>
      <li><a href="execution_meta_pay.html">4.4 Meta Pay</a></li>
      <li><a href="execution_verified_accounts.html">4.5 Verified Accounts</a></li>
      <li><a href="execution_zoom.html">4.6 Zoom PM</a></li>
      <li><a href="execution_quest.html">4.7 Meta Quest</a></li>
      <!-- dont include shorts questions -->
      <!-- <li><a href="execution_shorts.html">3.8 YouTube Shorts</a></li> -->
    </ul>
    <li class="nav-item" id="pm_reading">
      <a href="PMReadingList.html" class="nav-link">
        5. PM Reading List <span class="sr-only">(current)</span>
      </a>
    </li>  
  </li>
</ul>
<!-- /.accordion -->