header {
    text-align: left;
    font-size: 20px;
    background-color: rgb(22, 63, 175);
    padding: 5px 0 5px 10px;
    color:white;
}
h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

h3 {
    color: blue;
}


a {
    font-size: 20px;
    color: white;
    margin: 0 20px 0 20px;
    text-decoration: none;
}
main {
    border: 1px solid black;
    padding: 5px;
    margin: 5px 0;
}

#columnContainer {
    height: 500px;
    margin: 5px;
    display:flex;
    justify-content: space-between;
}
.post {
    width: 30%;
    margin: 5px;
    text-align: center;
}

img {
    width: 100%;
    height: 88%;
}

footer {
    height: 100px;
    background-color: grey;
    margin: 5px 0;
    color: white;
}