<!-- Last update 2020.11.02 -->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <title>{{ title }} | UpriseU</title>
</head>

<body>
  {{> body }}

  <script src="/js/prism.min.js"></script>
  <script src="/js/jquery-3.5.1.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/scripts.js"></script>
</body>
</html>